USE [master]
GO
/****** Object:  Database [DB_Emp_Oct_MVC]    Script Date: 19.6.25 13:24:52 ******/
CREATE DATABASE [DB_Emp_Oct_MVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Emp_Oct_MVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_Emp_Oct_MVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Emp_Oct_MVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_Emp_Oct_MVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Emp_Oct_MVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Emp_Oct_MVC]
GO
/****** Object:  Table [dbo].[tblDepts]    Script Date: 19.6.25 13:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](50) NULL,
 CONSTRAINT [PK_tblDepts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmpDetails]    Script Date: 19.6.25 13:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmpDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Contact] [varchar](12) NULL,
	[DeptID] [int] NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_tblEmpDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 19.6.25 13:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[EmpID] [int] NULL,
 CONSTRAINT [PK_tblLogin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblDepts] ON 

INSERT [dbo].[tblDepts] ([ID], [DeptName]) VALUES (1, N'Sales')
INSERT [dbo].[tblDepts] ([ID], [DeptName]) VALUES (2, N'Account')
SET IDENTITY_INSERT [dbo].[tblDepts] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEmpDetails] ON 

INSERT [dbo].[tblEmpDetails] ([ID], [Name], [Address], [Contact], [DeptID], [Salary]) VALUES (1, N'Rajesh', N'Pune', N'12345', 1, 35000)
INSERT [dbo].[tblEmpDetails] ([ID], [Name], [Address], [Contact], [DeptID], [Salary]) VALUES (3, N'Dinesh', N'Nagpur', N'67895', 2, 45000)
SET IDENTITY_INSERT [dbo].[tblEmpDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLogin] ON 

INSERT [dbo].[tblLogin] ([ID], [UserName], [Password], [EmpID]) VALUES (1, N'Rajesh', N'Rajesh@123', 1)
INSERT [dbo].[tblLogin] ([ID], [UserName], [Password], [EmpID]) VALUES (2, N'Dinesh', N'Dinesh@123', 3)
SET IDENTITY_INSERT [dbo].[tblLogin] OFF
GO
ALTER TABLE [dbo].[tblEmpDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblEmpDetails_tblDepts] FOREIGN KEY([DeptID])
REFERENCES [dbo].[tblDepts] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEmpDetails] CHECK CONSTRAINT [FK_tblEmpDetails_tblDepts]
GO
ALTER TABLE [dbo].[tblLogin]  WITH CHECK ADD  CONSTRAINT [FK_tblLogin_tblEmpDetails] FOREIGN KEY([EmpID])
REFERENCES [dbo].[tblEmpDetails] ([ID])
GO
ALTER TABLE [dbo].[tblLogin] CHECK CONSTRAINT [FK_tblLogin_tblEmpDetails]
GO
USE [master]
GO
